.topic-title {
    color: white;
    background-color: red;
}

.green {
    background-color:green; 
}

.red {
    background-color: red;
}

table {
    border: 1px solid black;
}
tr td {
    border: 1px solid black;
    font-size: 15px;
}

tr.header {
    font-size: 15px;
    font-weight: bold;
}

/*h1{
    background-color: pink;
}*/

h1.h1-all {
    background-color: red;
}