<!-- First -->

<!--<h1 class="topic-title">Simple Interpolation</h1>
<h2>
  {{title}}
</h2>-->

<!-- Second -->
<!--<h1 class="topic-title">Two way data binding</h1>
<input type="text" [(ngModel)]="name">
{{name}}
<div style="height: 1024px;font-size:30px" (mousemove)=mousemoveEvent($event)>
  X : {{xPosition}} <br>
  Y : {{yPosition}}
</div>-->

<!-- Third -->
<!--<h1>Event Binding</h1>
Email : <input  type="text" [(ngModel)]="data.vEmail" name="vEmail"> <br />
Password : <input  type="text" [(ngModel)]="data.vPassword" name="vPassword">  <br />
<button (click)="clickDemo(data)">Submit</button>
<div [ngClass]="customClass">
    <h1 *ngIf = "loginSuccess">Success</h1>
    <h1 *ngIf = "loginError">Error</h1>
</div>-->


<!-- Four -->
<!--<input [(ngModel)]="color" />
<button (click)="size = size + 1">+</button>
<button (click)="size = size - 1">-</button>
<div [ngStyle]="{'color': color, 'font-size': size + 'px'}">
    Angular ngStyle
</div>-->

<!-- Five -->
<!-- let c = index; let o = odd; let e = even; let f = first; let l = last; -->
<!--<table>
  <tr class="header">
    
    <td>Name</td>
    <td>Email</td>
  </tr>
  <tr *ngFor="let d of data;">
    <td>{{d.name}}</td>
    <td>{{d.email}}</td>
  </tr>
</table>-->
<!--<ng-template ngFor let-d [ngForOf]="data">
    <tr>
      <td>{{d.name}}</td>
      <td>{{d.email}}</td>    
    </tr>
</ng-template>-->


<!-- Six --> 
<!-- Ng If else example -->
<!--<div *ngIf="status == true else thenBlock">
  <h1>Then Block</h1>
</div>
<ng-template #thenBlock>
  <h1>Else Block</h1>
</ng-template>-->


<!--- Seven -->
<h1 class="h1-all">Parent</h1>
<app-child></app-child>
<!--- Parentn  -->





